{% extends 'base.html' %}

<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>

{% block title %} Home {% endblock title %}

{% block nav4link %}

  {% if user.is_authenticated %}
    /logout
  {% endif %}

{% endblock nav4link %}

{% block nav4 %}

  {% if user.is_authenticated %}
    <img src="https://img.icons8.com/cute-clipart/38/000000/logout-rounded-left.png"/> LogOut
  {% endif %}

{% endblock nav4 %}

{% block body %}
    <h1 class="text-center mb-3" style="color: darkblue; font-family:algerian;"> openAI GPT </h1>
<div style = "background-color:white;">
<div >
    <form style = "padding-left: 50px; padding-top: 40px;" action="./" METHOD="post">
        {% csrf_token %}
        Question : <input type="text" name="question"><br><br>
        <input type="submit">
    </form>
    <p style = "padding-left: 50px; padding-top: 40px;">

        {{ answer|linebreaks }}</p>
</div>
</div>
{% endblock body %}